##### AWS ##########################################################################################

# Full path to the AWS CLI binary
AWS_BINARY=/usr/bin/aws

# Name of the SSO configuration
AWS_SSO_SESSION=common

##### CREDENTIALS ##################################################################################

# Credentials to authenticate the user
EMAIL=someone@someplace.com
PASSWORD=correctHorseBatteryStaple

# TOTP secret for MFA
TOTP_SECRET=000111222333444

#### MICROSOFT AD ##################################################################################
AD_CHECK_URL='https://ismyinternetworking.com'

##### TROUBLESHOOTING ##############################################################################

# Selenium browser mode (set it to 1 to open the browser GUI and observe Selenium in action)
RENDER_BROWSER=0
